<p>Olá <%= @resource.email %>,</p>
<p>Recebemos uma solicitação para redefinir a senha da sua conta na <strong>Schedule Mailer</strong>.</p>
<p>Para criar uma nova senha, clique no link abaixo:</p>
<p><%= link_to 'Redefinir minha senha', edit_password_url(@resource, reset_password_token: @token) %></p>
<p>Se você não solicitou essa alteração, apenas ignore este e-mail. Sua senha permanecerá a mesma.</p>
<p><strong>Por favor, não responda a este e-mail.</strong> Ele foi enviado automaticamente e não é monitorado.</p>
<p>Atenciosamente,<br>
  Equipe Schedule Mailer</p>
