<div id="<%= dom_id email %>">
  <p>
    <strong>To:</strong>
    <%= email.to %>
  </p>

  <p>
    <strong>Mail:</strong>
    <%= email.mail %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= email.body %>
  </p>

</div>
